html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-purple {
  background-color: #4B1979;
  border-color: #4B1979 !important;
}

.btn-primary {
  background-color: #4B1979;
  border-color: #4B1979 !important;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}

.btn-primary:hover {
  background-color: #6b2ea5;
  border-color: #4B1979 !important;
}

.btn-primary:focus {
  background-color: #4B1979;
  border-color: #4B1979 !important;
  /* lighting-color: #4B1979; */
}

.btn-secondary {
  background-color: #E2D4F0;
  border-color: #E2D4F0 !important;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}

.btn-secondary:hover {
  background-color: #e6e1ec;
  border-color: #E2D4F0 !important;
}

.btn-secondary:focus {
  background-color: #E2D4F0;
  border-color: #E2D4F0 !important;
  /* lighting-color: #4B1979; */
}

.txt-field:focus {
  border-color: #f8f9fa !important;
}

.card.text-white.card-img {
  width: 95% !important;
  height: 250px !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card-img {
  height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.br-10 {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.br-20 {
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}